@import 'assets/styles/_container.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 180px;
}

.mainPagePopularCategoriesTitle {
  font-size: 36px;
}
