@import 'assets/styles/_container.scss';

.box {
  padding: 8px 0;
  background-color: #17696a;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #ffffff;
}

.icon {
  width: 16px;
  height: 16px;
}

.text {
  font-weight: 900;
  font-size: 12px;
}

.link {
  font-weight: 400;
  font-size: 12px;
  margin-left: 4px;
  text-decoration-line: underline;
}
